body{
    min-height: 100%;
}
button{
    height:fit-content;
    width: fit-content;
}

@media only screen and (min-width: 480px) {
    header{
        display:flex;
        align-content: center;
        justify-content: center;
        text-align:center;
        font-size:24px;
    }
    .sub{
        max-width:50%;
        background-color: lightblue;
        height:fit-content;
    
    }
    .sub button{
        font: size 16px;
    }
    .sub input{
        font-size: 16px;
    }
    .sumbissions{
        background-color: blue;;
        display:flex;
        flex-flow: row wrap;
        width:100%;
        align-content: center;
        
    
    }
}

header{
    display:flex;
    align-content: center;
    justify-content: center;
    text-align:center;
    font-size: 4rem;
}
#gen-chip{
    font-size:2rem;
    justify-content:center;
    align-content:center;

}
.container{
    min-height: 100%;
    background-color: red;
}
.sumbissions{
    background-color: blue;;
    display:flex;
    flex-flow: row wrap;
    width:100%;
    align-content: center;
    

}

.sub{
    min-width:25%;
    background-color: lightblue;
    height:fit-content;
    font-size: 2rem;
}
.sub button{
    font-size:3rem;
}
.sub input{
    font-size:2rem;
}