html{
height:100%;
width:100%;
}
body{
    min-height: 100%;
    background: linear-gradient(-45deg, #2e817a, #3ccde7, #44e775, #067a5f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: 'EB Garamond', serif;
    font-family: 'Merriweather', serif;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

button{
    height:fit-content;
    width: fit-content;
}

@media only screen and (max-width: 786px) {
    body{
        width:100%;
        padding:0%;
        margin: 0%;
        
    }
    header{
        display:flex;
        align-content: center;
        justify-content: center;
        text-align:center;
        font-size:24px;
    }
    .sub{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width:50%;
        height:fit-content;
        
    
    }
    .sub button{
        font: size 16px;
    }
    .sub input{
        font-size: 16px;
        width:60%;
    }
    .sumbissions{
        display:flex;
        flex-flow: row wrap;
        width:100%;
        align-content: center;
        
    
    }
    .display-Chips{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position:sticky;
        top:0;
        background-color: rgb(240, 240, 240, .5) ;
    }
}

header{
    display:flex;
    align-content: center;
    justify-content: center;
    text-align:center;
    font-size: 3rem;
    height:fit-content;
}
#gen-chip{
    font-size:2rem;
    justify-content:center;
    align-content:center;

}
.container{
    min-height: 100%;
}

.sumbissions{
    display:flex;
    flex-flow: row wrap;
    width:100%;
    align-content: center;
    

}
.display-Chips{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:sticky;
    font-size:2rem;
    padding-right:5%;
    top:0;
    background-color: rgb(240, 240, 240, .5) ;
}

.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width:25%;
    height:fit-content;
    font-size: 2rem;
    padding: 0%;
    margin:0%;
}
.sub button{
    display:flex;
    font-size:3rem;
}
.sub input{
    font-size:2rem;
}
.sub h2{
    padding:0%;
    margin: 0%;
}
.sub p{
    padding-bottom: 0%;
    margin-bottom:0%;
}
.display{
    display:grid;
    grid-template-columns: 1fr 1fr;
}